@font-face {
    font-family: 'Franklin Gothic';
    src: url('FranklinGothic-Medium.eot');
    src: url('FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
        url('FranklinGothic-Medium.woff2') format('woff2'),
        url('FranklinGothic-Medium.woff') format('woff'),
        url('FranklinGothic-Medium.ttf') format('truetype'),
        url('FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

